/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

/* nav-bar*/
main {
    width: 100%;
}

.site-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    align-items: center;
    border-bottom: 1px solid #e1e1e1;
    width: 100%;
    background-color: hsla(0, 0%, 100%, .85);
    border-bottom: 1px solid #e1e1e1;
    padding: .5rem 0;
    position: fixed;
    transition: top .5s linear;
    z-index: 3;

    a {
        color: $color__link;
        font-family: $nov;
        margin-right: 5px;
    }

    a:hover {
        color: $color__link-hover;
    }

    h1 {
        margin: 0;
        overflow: hidden;
        text-indent: 100%;
        white-space: nowrap;
        width: 50px;
        height: 33px;
    }

    .logo {
        background-image: url("../../images/logos/inhabitent-logo-tent.svg");
        width: 50px;
        height: 33px;
        background-size: 50px 33px;
        margin-left: 70px;

        a {
            color: transparent;
            text-decoration: none;
        }
    }

    .search-label {
        display: inline-flex;
        align-items: center;

        .fa-search {
            color: #248a83;
        }
    }

    .search-menu {
        height: 30px;
        margin-top: -20px;

        .search-label {
            display: inline-flex;
            align-items: center;

            .fa-search {
                color: #248a83;
            }
        }

        fieldset {
            height: 33px;
            border: none;

            input[type='search'] {
                width: 0;
                font-family: $nov;
                background-color: transparent;
                border: none;
                transition: width 0.4s ease-in-out;
                outline: none;
                color: black;

                &::placeholder {
                    color: grey;
                }

                &:focus {
                    width: 160px;
                }
            }
        }
    }
}

//Nav-bar for the homepage and About page
.site-header-nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    align-items: center;
    width: 100%;
    background-color: transparent;
    padding: .5rem 0;
    transition: top .5s linear;
    z-index: 3;
    position: absolute;

    .menu-item {
        a {
            color: white;
            font-family: $nov;
            margin-right: 5px;
        }
    }

    a:hover {
        color: #f0e4d1;
    }

    .logo {
        background-image: url("../../images/logos/inhabitent-logo-tent-white.svg");
        width: 50px;
        height: 33px;
        background-size: 50px 33px;
        margin-left: 70px;
        overflow: hidden;
        position: relative;

        a {
            color: transparent;
            text-decoration: none;
        }
    }


    .search-menu {
        height: 30px;
        margin-top: -20px;

        .search-label {
            display: inline-flex;
            align-items: center;

            .fa-search {
                color: white;
            }
        }

        fieldset {
            height: 33px;
            border: none;

            input[type='search'] {
                width: 0;
                font-family: $nov;
                background-color: transparent;
                border: none;
                transition: width 0.4s ease-in-out;
                outline: none;
                color: white;

                &::placeholder {
                    color: #f0e4d1;
                }

                &:focus {
                    width: 160px;
                }
            }
        }
    }
}

//End of the alternative navbar
.main-navigation {
    margin-right: 70px;
}

// Content and widget bar

.site-content {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
}

//Find-us
.page-id-13 {
    .content-area {
        border-right: 1px solid #e1e1e1;
        padding-right: 3%;
        width: 73%;
        position: relative;
        margin-top: 60px;
    }

    .site-content {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width: 1120px;
        position: relative;
        z-index: 1;

        h1 {
            font-family: $nov;
        }

        h2 {
            font-family: $nov;
        }

        p {
            font-family: $merri;
        }
    }


    .widget-area {
        padding-left: 5%;
        width: 27%;
        display: block;
        margin-top: 80px;

        ul {
            margin: 0;
            padding: 0;
            font-family: $merri;
        }

        a {
            text-decoration: none;

            #phone-number::before {
                content: "\f095";
                color: black;
                font-family: "FontAwesome";
                margin-right: 10px;
            }

            #mail::before {
                content: "\f0e0";
                color: black;
                font-family: "FontAwesome";
                margin-right: 10px;
            }

            #adress {
                color: black;
                text-indent: -20px;
                padding-left: 25px;
            }

            #adress::before {
                content: "\f041";
                color: black;
                font-family: "FontAwesome";
                margin-right: 10px;
                padding-right: 3px;
            }
        }

        li {
            list-style: none;
            margin: 20px;
            margin-left: 0px;
        }
    }
}

.bold {
    font-weight: bold;
}

label {
    color: #2f1339;
    display: block;
    font-family: $nov;
    font-size: 1.1rem;
    margin-bottom: .5rem;
    text-transform: uppercase;
}

//About page
.page-id-11 {

    header.entry-header {
        display: none;
    }

    .hero-image-header {
        width: 100vw;
        height: 700px;
        margin-top: -50px;
    }

    h1 {
        font-family: $nov;
        color: white;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    h2 {
        font-family: $nov;
        display: flex;
        justify-content: center;
    }

    p {
        font-family: $merri;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width: 800px;

    }
}

//Single-post
.single-post {
    font-family: $merri;

    .social-media-ul {
        list-style: none;
        display: inline-flex;
        margin-left: -50px;

        .social-media-li {
            font-family: $nov;
            font-size: 14px;
            text-align: center;
            padding: 8px 20px;
            width: auto;
            border: 1px solid black;
            color: black;
            list-style: none;
            margin-left: 10px;

            &:hover {
                background-color: #248a83;
                color: white;
                border: transparent;
            }
        }

        .fb::before {
            content: "\f09a";
            font-family: "FontAwesome";
            margin-right: 10px;
        }

        .twi::before {
            content: "\f099";
            font-family: "FontAwesome";
            margin-right: 10px;
        }

        .pin::before {
            content: "\f0d2";
            font-family: "FontAwesome";
            margin-right: 10px;
        }
    }

    .entry-header {
        line-height: 0;
        position: relative;
    }

    .site-content {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width: 1120px;
        position: relative;
        z-index: 1;
    }

    .content-area {

        border-right: 1px solid #e1e1e1;
        padding-right: 3%;
        width: 73%;
        position: relative;
        margin-top: 70px;

        h1 {
            background-color: #248a83;
            color: #fff;
            font-size: 33.6px;
            font-size: 2.1rem;
            left: 0;
            padding: .75rem 1.5rem;
            position: absolute;
            margin-top: 2.25rem;
            max-width: 75%;
            top: 0;
            line-height: 40px;
            font-family: $nov;
        }

        img {
            width: 100%;
            height: auto;
        }

        .entry-meta {
            right: 0;
            bottom: 0;
            background-color: #248a83;
            color: white;
            display: inline-block;
            font-family: $nov;
            padding: 0.85rem 1.2rem;
            position: absolute;
            text-transform: uppercase;

            a {
                color: white;
            }
        }

        p {
            font-family: $merri;
        }

        h3 {
            font-size: 27px;
        }

        //post footer
        .cat-links {
            font-family: $nov;
            margin-right: 1.5rem;

            a {
                color: #248a83;
                text-decoration: none;
            }
        }

        .tags-links {
            font-family: $nov;
            margin-right: 1.5rem;

            a {
                color: #248a83;
                text-decoration: none;
            }
        }

        .nav-next {
            display: none;
        }

        .nav-previous {
            display: none;
        }

        //comment part
        .comment-author-avatar {
            width: 60px;
            height: 60px;
            margin-right: 30px;

            img {
                border-radius: 50px;
            }
        }

        .comment-body {
            display: inline-flex;
            flex-direction: row;
        }

        .comment-list {
            margin-left: 0;
            padding-bottom: 30px;
            border-bottom: 1px solid #e1e1e1;

        }

        .comment-author {
            font-weight: bold;
            font-size: 20px;
        }

        .comment-metadata {
            color: grey;
        }

        .reply {
            a {
                text-decoration: none;
            }
        }
    }

    .widget-area {
        padding-left: 5%;
        width: 27%;
        display: block;
        margin-top: 80px;

        h2 {
            font-family: $nov;
        }

        ul {
            margin: 0;
            padding: 0;
            font-family: $merri;
        }

        a {
            text-decoration: none;

            #phone-number::before {
                content: "\f095";
                color: black;
                font-family: "FontAwesome";
                margin-right: 10px;
            }

            #mail::before {
                content: "\f0e0";
                color: black;
                font-family: "FontAwesome";
                margin-right: 10px;
            }

            #adress {
                color: black;
            }

            #adress::before {
                content: "\f041";
                color: black;
                font-family: "FontAwesome";
                margin-right: 10px;
            }
        }

        li {
            list-style: none;
            margin: 20px;
            margin-left: 0px;
        }
    }
}


//Front-page
.home {

    .content-front-page {
        width: 100vw;
    }

    .site-content {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        position: relative;
        z-index: 1;
    }

    .section-post {
        margin-top: -50px;
        width: 1120px;
        margin-left: auto;
        margin-right: auto;

        h3 {
            font-family: $nov;
            font-size: 2.4rem;
            font-weight: 400;
            margin-bottom: 2.75rem;
            text-align: center;
        }

        .blog-post {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-bottom: 0;
            margin-left: 0;
            padding-left: 0;
        }

        .journal-article {
            display: flex;
            flex-direction: column-reverse;
            width: 370px;
            align-content: center;
            justify-content: center;
            position: relative;
            padding: .75rem;
            height: 400px;
            line-height: 20px;

            .meta-div {
                width: auto;
                position: relative;
                margin-bottom: -20px;
                padding: 0;
            }

            .content-mark {
                border: 1px solid #e1e1e1;
                padding: 5px;
                font-family: $merri;
                font-size: 12px;
            }

            .thumbail-wrapper {
                height: 250px;
                overflow: hidden;
                position: relative;
            }

            img {

                max-width: none;
                width: auto;
                height: 250px;
                background-color: #e1e1e1;
                ;
                overflow: hidden;
                position: relative;
                padding-bottom: 5px;
            }

            .link-h2 {
                font-size: 20px;
                color: $color__link;
                text-decoration: none;

            }

            .link-h2:hover {
                color: black;
            }

            .link-read {
                position: relative;
                bottom: 12px;
                left: 5px;
                border: 1px solid #000;
                color: #000;
                padding: 10px 15px;
                text-decoration: none;
                font-size: 12px;
                font-family: $nov;
            }

            .link-read:hover {
                background-color: $color__link-visited;
                color: white;
                border: none;
            }
        }
    }

    .adventures {

        margin-bottom: 0px;

        h2 {
            font-weight: 300;
            font-family: $nov;
            font-size: 35px;
            text-align: center;
            margin-top: 60px;
            margin-bottom: -20px;
        }

        ul {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-auto-rows: 2fr;
            grid-gap: 20px 20px;
            list-style-type: none;
            margin-left: 0;
            padding: 100px;
            padding-bottom: 0;
            width: 100%;

            li {
                line-height: 1;
                overflow: hidden;
                position: relative;
                width: 100%;

                &:before {
                    content: " ";
                    display: inline-block;
                    width: 1px;
                    height: 0;
                }

                &:first-child {
                    grid-column: 1/span 2;
                    grid-row: 1/span 2;

                    &:before {
                        padding-bottom: calc(100% - 24px);
                    }

                    .story-info h3 {
                        font-size: 3rem;

                        a {
                            text-decoration: none;
                        }
                    }

                    .link-read {

                        position: relative;
                        bottom: 12px;
                        left: 5px;
                        border: 1px solid white;
                        color: white;
                        padding: 10px 20px;
                        text-decoration: none;
                        font-size: 14px;
                        font-family: $nov;
                        margin-left: -5px;

                        &:hover {
                            background-color: $color__link-visited;
                            color: white;
                            border: none;
                        }
                    }
                }

                &:nth-child(2) {
                    grid-column: 3/span 2;
                    grid-row: 1/span 1;

                    &:before {
                        padding-bottom: calc(50% - 12px);
                    }

                    .story-info h3 {
                        font-size: 2.4rem;

                        a {
                            text-decoration: none;
                        }
                    }

                    .link-read {

                        position: relative;
                        bottom: 12px;
                        left: 5px;
                        border: 1px solid white;
                        color: white;
                        padding: 10px 20px;
                        text-decoration: none;
                        font-size: 14px;
                        font-family: $nov;
                        margin-left: -5px;

                        &:hover {
                            background-color: $color__link-visited;
                            color: white;
                            border: none;
                        }
                    }
                }

                &:nth-child(3) {
                    &:before {
                        padding-bottom: calc(50% - 12px);
                    }

                    .story-info h3 {
                        font-size: 1.6rem;

                        a {
                            text-decoration: none;
                        }
                    }

                    .link-read {

                        position: relative;
                        bottom: 12px;
                        left: 5px;
                        border: 1px solid white;
                        color: white;
                        padding: 10px 20px;
                        text-decoration: none;
                        font-size: 14px;
                        font-family: $nov;
                        margin-left: -5px;

                        &:hover {
                            background-color: $color__link-visited;
                            color: white;
                            border: none;
                        }
                    }
                }

                &:last-child {
                    &:before {
                        padding-bottom: calc(50% - 12px);
                    }

                    .story-info h3 {
                        font-size: 1.6rem;

                        a {
                            text-decoration: none;
                        }
                    }

                    .link-read {

                        position: relative;
                        bottom: 12px;
                        left: 5px;
                        border: 1px solid white;
                        color: white;
                        padding: 10px 20px;
                        text-decoration: none;
                        font-size: 14px;
                        font-family: $nov;
                        margin-left: -5px;

                        &:hover {
                            background-color: $color__link-visited;
                            color: white;
                            border: none;
                        }
                    }
                }

                .story-wrapper {
                    bottom: 0;
                    left: 0;
                    position: absolute;
                    right: 0;
                    top: 0;
                    z-index: 1;

                    &:after {
                        background: rgba(0, 0, 0, .35);
                        content: "";
                        height: 100%;
                        left: 0;
                        position: absolute;
                        top: 0;
                        width: 100%;
                        z-index: 1;
                    }

                    img {
                        left: 50%;
                        max-height: 620px;
                        max-width: none;
                        position: absolute;
                        top: 75%;
                        transform: translate(-50%, -75%);
                        width: auto;
                    }

                    .story-info {
                        margin: 1.5rem;
                        position: absolute;
                        z-index: 2;

                        h3 {
                            font-family: $merri;
                            font-weight: 400;
                            margin-top: 24px;
                            text-transform: none;

                            a {
                                color: #fff;

                                &:hover {
                                    color: #f0e4d1;
                                }
                            }
                        }
                    }
                }
            }
        }

        .btn-more {
            margin-left: 100px;
            font-family: $nov;
            margin-top: 2.25rem;
            font-size: 18px;
            text-align: center;
            padding: 12px;
            width: 120px;
            background-color: #248a83;
            color: white;
            text-decoration: none;

            &:hover {
                background-color: #207a74;
            }
        }
    }

    .banner-front-page {
        display: flex;
        justify-content: center;
        background-image: linear-gradient(180deg, rgba(0, 0, 0, .4) 0, rgba(0, 0, 0, .4)), url("../../images/home-hero.jpg");
        background-size: cover;
        align-items: center;
        height: 100vh;
    }
}


//Shop Section of front page
.shop-section {
    width: 1120px;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: auto;
    justify-content: center;
    margin-bottom: 90px;

    h3 {
        font-size: 2.4rem;
        font-weight: 400;
        margin-bottom: 3.75rem;
        text-align: center;
    }

    .product-taxonomy-section {
        display: inline-flex;
        justify-content: space-around;
        align-content: center;

        .product-type {
            display: flex;
            justify-items: center;
            align-items: center;
            justify-content: center;
            align-content: center;
            flex-direction: column;
            margin: 20px;
            border: 1px solid $color__background-screen;
            border-top-width: 5px;
            padding: 15px;

            img {
                width: auto;
                height: 80px;
                padding-bottom: 5px;
            }

            p {
                font-size: 16px;
                text-align: center;
                font-family: $merri;
            }

            a {
                font-size: 14px;
                text-align: center;
                padding: 12px;
                width: 120px;
                background-color: #248a83;
                color: white;
                text-decoration: none;

                &:hover {
                    background-color: #207a74;
                }
            }
        }

        .product-type:hover {
            border: 1px solid #d99054;
            border-top-width: 5px;
        }
    }

}

//Single product part
.single-product {
    width: 100vw;

    .nav-links {
        display: none;
    }

    .entire-product {
        margin-top: 80px;
        display: inline-flex;
        flex-direction: row;
        margin-left: 0 auto;
        margin-right: 0 auto;
        justify-content: center;
        align-items: center;

        .entry-header {
            padding: 50px;
            width: 48%;

            .image-wrapper-product {
                img {
                    height: auto;
                    max-width: 100%;
                }
            }
        }

        .content-product-wrapper {
            h1 {
                color: #d99054;
                margin-bottom: -25px;
            }

            padding: 50px;
            width: 52%;
            font-family: $merri;

            .price-product {
                p {
                    font-family: $nov;
                    font-size: 25px;
                    margin-bottom: -10px;
                }
            }
        }

        .social-media-ul {
            list-style: none;
            display: inline-flex;

            .social-media-li {
                font-family: $nov;
                font-size: 14px;
                text-align: center;
                padding: 8px 20px;
                width: auto;
                border: 1px solid black;
                color: black;
                list-style: none;
                margin-left: 10px;

                &:hover {
                    background-color: #248a83;
                    color: white;
                    border: transparent;
                }
            }

            .fb::before {
                content: "\f09a";
                font-family: "FontAwesome";
                margin-right: 10px;
            }

            .twi::before {
                content: "\f099";
                font-family: "FontAwesome";
                margin-right: 10px;
            }

            .pin::before {
                content: "\f0d2";
                font-family: "FontAwesome";
                margin-right: 10px;
            }
        }
    }
}

//Shop page
.post-type-archive-product {
    width: 100vw;

    .content-area {
        @include content
    }

    .header-shop-content {
        margin-top: 60px;
        display: flex;
        justify-items: center;
        justify-content: center;
        flex-direction: column;
        font-family: $nov;

        .heading-part-shop {
            display: flex;
            justify-content: center;
        }

        .list-tax {
            display: flex;
            justify-content: center;

        }

        ul {
            display: inline-flex;
            list-style: none;
            margin: 0;
            padding: 0;

            a {
                text-decoration: none;
                text-transform: uppercase;
            }

            li {
                margin-bottom: 50px;
                padding: 10px;
                font-size: 20px;
            }
        }
    }

    .shop-container-large {
        border-top: 1px dashed #a1a1a1;
        padding-top: 40px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1.5rem;
        margin-bottom: 1.5rem;

        .type-product {
            border: 1px solid $color__background-screen;
            height: auto;
            max-height: 270px;

            .shop-page-image {
                background-color: #e1e1e1;
                max-height: 155px;
                height: auto;
                overflow: hidden;
                position: relative;
                margin-top: -30px;

                .img {
                    max-height: 250px;
                    max-width: none;
                    position: absolute;
                    width: auto;
                }
            }

            .text-shop-page {
                font-size: .9rem;
                padding: .75rem 1rem;
                justify-self: center;
                align-self: center;
            }

            .price {
                float: right;
                padding-left: .25rem;
                background: #fff;
                font-family: $merri;
            }

            .product-title-page-shop h2 {
                background: #fff;
                display: inline;
                font-size: 16px;
                font-weight: 400;
                font-family: $merri;
                letter-spacing: 0;
                padding-right: .25rem;
                text-transform: none;
            }

            .product-title-page-shop h2::before {
                float: left;
                width: 0;
                white-space: nowrap;
                content: '....................................................';
                box-sizing: inherit;
            }
        }
    }
}

.nav-next {
    display: none;
}

.nav-previous {
    display: none;
}

.tax-product-type {
    width: 100vw;

    .content-area {
        @include content
    }

    .header-shop-content {
        margin-top: 60px;
        display: flex;
        justify-items: center;
        justify-content: center;
        flex-direction: column;
        font-family: $nov;

        .heading-part-shop {
            display: flex;
            justify-content: center;
        }

        .list-tax {
            display: flex;
            justify-content: center;


            ul {
                display: inline-flex;
                list-style: none;

                a {
                    text-decoration: none;
                }

                li {
                    margin-bottom: 50px;
                    padding: 10px;
                    font-size: 20px;
                }
            }
        }

        .description {
            display: flex;
            justify-content: center;
            margin-top: -20px;
            margin-bottom: 20px;
            font-family: $merri;
        }
    }

    .shop-container-large {
        border-top: 1px dashed #a1a1a1;
        padding-top: 40px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1.5rem;
        margin-bottom: 1.5rem;

        .type-product {
            border: 1px solid $color__background-screen;
            height: auto;
            max-height: 270px;

            .shop-page-image {
                background-color: #e1e1e1;
                max-height: 155px;
                height: auto;
                overflow: hidden;
                position: relative;
                margin-top: -30px;

                .img {
                    max-height: 250px;
                    max-width: none;
                    position: absolute;
                    width: auto;
                }
            }

            .text-shop-page {
                font-size: .9rem;
                padding: .75rem 1rem;
                justify-self: center;
                align-self: center;
            }

            .price {
                float: right;
                padding-left: .25rem;
                background: #fff;
                font-family: $merri;
            }

            .product-title-page-shop h2 {
                background: #fff;
                display: inline;
                font-size: 16px;
                font-weight: 400;
                font-family: $merri;
                letter-spacing: 0;
                padding-right: .25rem;
                text-transform: none;
            }
        }
    }
}

//Journal
.page-id-106 {
    .entry-title {
        display: none;
    }

    .content-area {
        border-right: 1px solid #e1e1e1;
        padding-right: 3%;
        width: 73%;
        position: relative;
        margin-top: 60px;

        .journal-article {
            font-family: $merri;
            margin-bottom: 60px;

            .header-article {
                line-height: 0;
                position: relative;

                .img {
                    height: auto;
                    max-width: 100%;
                }

                h2 a {
                    background-color: #248a83;
                    color: #fff;
                    font-size: 2.1rem;
                    left: 0;
                    font-family: $nov;
                    text-decoration: none;
                    line-height: 35px;
                    padding: .75rem 1.5rem;
                    position: absolute;
                    margin-top: 2.25rem;
                    max-width: 75%;
                    top: 0;
                }

                .meta-div {
                    background-color: #248a83;
                    bottom: 0;
                    color: #fff;
                    display: inline-block;
                    font-family: $nov;
                    padding: 0.15rem 1.5rem;
                    height: 33px;
                    position: absolute;
                    right: 0;
                    text-transform: uppercase;
                    overflow: hidden;
                }
            }

        }

        .link-read {
            position: relative;
            bottom: 12px;
            left: 5px;
            border: 1px solid #000;
            color: #000;
            padding: 10px 20px;
            text-decoration: none;
            font-size: 14px;
            font-family: $nov;
            margin-left: -5px;
            margin-top: 30px;

            &:hover {
                background-color: $color__link-visited;
                color: white;
                border: none;
            }
        }
    }

    .site-content {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width: 1120px;
        position: relative;
        z-index: 1;
    }

    .widget-area {
        padding-left: 5%;
        width: 27%;
        display: block;
        margin-top: 80px;

        h2 {
            font-family: $nov;
        }

        ul {
            margin: 0;
            padding: 0;
            font-family: $merri;
        }

        a {
            text-decoration: none;

            #phone-number::before {
                content: "\f095";
                color: black;
                font-family: "FontAwesome";
                margin-right: 10px;
            }

            #mail::before {
                content: "\f0e0";
                color: black;
                font-family: "FontAwesome";
                margin-right: 10px;
            }

            #adress {
                color: black;
            }

            #adress::before {
                content: "\f041";
                color: black;
                font-family: "FontAwesome";
                margin-right: 10px;
            }
        }

        li {
            list-style: none;
            margin: 20px;
            margin-left: 0px;
        }
    }
}


.tag,
.date,
.category,
.date {
    .entry-title {
        display: none;
    }

    .content-area {
        border-right: 1px solid #e1e1e1;
        padding-right: 3%;
        width: 73%;
        position: relative;
        margin-top: 60px;

        h1 {
            font-family: $nov;
        }

        .journal-article {
            font-family: $merri;
            margin-bottom: 60px;

            .header-article {
                line-height: 0;
                position: relative;

                .img {
                    height: auto;
                    max-width: 100%;
                }

                h2 a {
                    background-color: #248a83;
                    color: #fff;
                    font-size: 2.1rem;
                    left: 0;
                    font-family: $nov;
                    text-decoration: none;
                    line-height: 35px;
                    padding: .75rem 1.5rem;
                    position: absolute;
                    margin-top: 2.25rem;
                    max-width: 75%;
                    top: 0;
                }

                .meta-div {
                    background-color: #248a83;
                    bottom: 0;
                    color: #fff;
                    display: inline-block;
                    font-family: $nov;
                    padding: 0.15rem 1.5rem;
                    height: 33px;
                    position: absolute;
                    right: 0;
                    text-transform: uppercase;
                    overflow: hidden;
                }
            }

        }

        .link-read {
            position: relative;
            bottom: 12px;
            left: 5px;
            border: 1px solid #000;
            color: #000;
            padding: 10px 20px;
            text-decoration: none;
            font-size: 14px;
            font-family: $nov;
            margin-left: -5px;
            margin-top: 30px;

            &:hover {
                background-color: $color__link-visited;
                color: white;
                border: none;
            }
        }
    }

    .site-content {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width: 1120px;
        position: relative;
        z-index: 1;
    }

    .widget-area {
        padding-left: 5%;
        width: 27%;
        display: block;
        margin-top: 80px;

        h2 {
            font-family: $nov;
        }

        ul {
            margin: 0;
            padding: 0;
            font-family: $merri;
        }

        a {
            text-decoration: none;

            #phone-number::before {
                content: "\f095";
                color: black;
                font-family: "FontAwesome";
                margin-right: 10px;
            }

            #mail::before {
                content: "\f0e0";
                color: black;
                font-family: "FontAwesome";
                margin-right: 10px;
            }

            #adress {
                color: black;
            }

            #adress::before {
                content: "\f041";
                color: black;
                font-family: "FontAwesome";
                margin-right: 10px;
            }
        }

        li {
            list-style: none;
            margin: 20px;
            margin-left: 0px;
        }
    }
}

//footer
.site-footer {
    background: url(../../images/dark-wood@2x.png);
    background-size: 512px 512px;
    margin-top: 4em;
    color: #fff;
    width: 100vw;
    height: 350px;

    .content {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        align-content: center;
    }

    .widget-container {
        display: flex;
        flex-direction: column;
        margin: 50px;
        width: 200px;
        font-family: $merri;

        h3 {
            color: #d99054;
            font-family: $nov;
            margin-bottom: 5px;
        }

        ul {
            display: flex;
            flex-direction: column;
            list-style: none;
            margin-left: 0px;
            padding-left: 0px;
            height: 120px;
            white-space: nowrap;

            li {
                margin-top: 20px;
            }

            .social-media-icon {
                i {
                    margin-right: 10px;
                    font-size: 20px;
                }
            }

            a {
                color: white;
                text-decoration: none;

                #phone-number::before {
                    content: "\f095";
                    color: white;
                    font-family: "FontAwesome";
                    margin-right: 10px;
                }

                #mail::before {
                    content: "\f0e0";
                    color: white;
                    font-family: "FontAwesome";
                    margin-right: 10px;
                }
            }
        }
    }

    .container-copyright {
        font-family: $nov;
        display: flex;
        justify-content: center;

    }

    .footer-logo {
        background: url(../../images/logos/inhabitent-logo-text.svg) no-repeat;
        background-size: 100%;
        width: 300px;
        height: 4.6em;
        margin-left: 300px;
        margin-bottom: 70px;

    }
}

//404 part
.error404 {
    .content-area {
        border-right: 1px solid #e1e1e1;
        padding-right: 3%;
        width: 73%;
        position: relative;
        margin-top: 60px;
    }

    .site-content {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width: 1120px;
        position: relative;
        z-index: 1;

        fieldset {
            margin-left: -10px;
            border: none;

            input {
                font-family: $merri;
            }
        }

        h1 {
            font-family: $nov;
        }

        h2 {
            font-family: $nov;
        }

        p {
            font-family: $merri;
        }

        a {
            text-decoration: none;
        }

        ul {
            margin-left: 0;
            padding-left: 0;

            li {
                list-style: none;
            }
        }
    }


    .widget-area {
        padding-left: 5%;
        width: 27%;
        display: block;
        margin-top: 80px;

        ul {
            margin: 0;
            padding: 0;
            font-family: $merri;
        }

        a {
            text-decoration: none;
        }

        li {
            list-style: none;
        }
    }
}

//Search result part
.search-results {
    .content-area {
        border-right: 1px solid #e1e1e1;
        padding-right: 3%;
        width: 73%;
        position: relative;
        margin-top: 60px;
    }

    .site-content {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width: 1120px;
        position: relative;
        z-index: 1;

        h1 {
            font-family: $nov;
            overflow: hidden;
            margin-top: -40px;
        }

        .link-read {
            position: relative;
            bottom: 12px;
            left: 5px;
            border: 1px solid #000;
            color: #000;
            padding: 10px 20px;
            text-decoration: none;
            font-size: 14px;
            font-family: $nov;
            margin-left: -5px;

            &:hover {
                background-color: $color__link-visited;
                color: white;
                border: none;
            }
        }

        fieldset {
            margin-left: -10px;
            border: none;

            input {
                font-family: $merri;
            }
        }

        h1 {
            font-family: $nov;
        }

        h2 {
            font-family: $nov;
        }

        p {
            font-family: $merri;
        }

        a {
            text-decoration: none;
        }

        ul {
            margin-left: 0;
            padding-left: 0;

            li {
                list-style: none;
            }
        }




        .widget-area {
            padding-left: 5%;
            width: 27%;
            display: block;
            margin-top: 80px;

            ul {
                margin: 0;
                padding: 0;
                font-family: $merri;
            }

            a {
                text-decoration: none;

                #phone-number::before {
                    content: "\f095";
                    color: black;
                    font-family: "FontAwesome";
                    margin-right: 10px;
                }

                #mail::before {
                    content: "\f0e0";
                    color: black;
                    font-family: "FontAwesome";
                    margin-right: 10px;
                }

                #adress {
                    color: black;
                }

                #adress::before {
                    content: "\f041";
                    color: black;
                    font-family: "FontAwesome";
                    margin-right: 10px;
                }
            }

            li {
                list-style: none;
                margin: 20px;
                margin-left: 0px;
            }
        }
    }
}

//Adventure single page
.single-adventure {
    width: 100vw;

    .entry-content {
        width: 800px;
        margin: auto;

        .social-media-ul {
            margin-left: -50px;
            list-style: none;
            display: inline-flex;

            .social-media-li {
                font-family: $nov;
                font-size: 14px;
                text-align: center;
                padding: 8px 20px;
                width: auto;
                border: 1px solid black;
                color: black;
                list-style: none;
                margin-left: 10px;

                &:hover {
                    background-color: #248a83;
                    color: white;
                    border: transparent;
                }
            }

            .fb::before {
                content: "\f09a";
                font-family: "FontAwesome";
                margin-right: 10px;
            }

            .twi::before {
                content: "\f099";
                font-family: "FontAwesome";
                margin-right: 10px;
            }

            .pin::before {
                content: "\f0d2";
                font-family: "FontAwesome";
                margin-right: 10px;
            }
        }
    }

    .entry-header img {
        width: 100vw;
        height: auto;
    }

    h1 {
        font-family: $nov;
        text-align: left;
    }

    p {
        font-family: $merri;
        text-align: justify;
    }

    .entry-meta {
        font-family: $nov;
        font-size: 25px;
        margin-top: -30px;
        margin-bottom: 30px;
    }

}

//All adventure page
.post-type-archive-adventure {
    width: 100vw;
    h1{
        font-family: $nov;
        margin-top: 100px;
        text-align: center;
        padding-bottom: 20px;
        margin-left: 160px;
        border-bottom: 1px dashed #a1a1a1;
        width: 920px;
    }
    .adventure-grid {
        width: 1120px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        margin-bottom: 4.5rem;
        padding: 0 160px;

        .adventure-grid-item {

            .story-wrapper {
                overflow: hidden;
                position: relative;
                height: 450px;
                width: 450px;
                margin-bottom: -15px;

                img {
                    z-index: 1;
                    max-height: 550px;
                    max-width: none;
                    width: 650px;
                    position: absolute;
                    filter: brightness(70%);
                }
            }

            .story-info {
                margin: 1.5rem;
                position: absolute;
                z-index: 2;

                h3 {
                    font-size: 35px;
                    font-family: $merri;
                    font-weight: 400;
                    margin-top: 24px;
                    text-transform: none;

                    a {
                        text-decoration: none;
                        color: #fff;

                        &:hover {
                            color: #f0e4d1;
                        }
                    }
                }
                .link-read {

                    position: relative;
                    bottom: 12px;
                    left: 5px;
                    border: 1px solid white;
                    color: white;
                    padding: 10px 20px;
                    text-decoration: none;
                    font-size: 14px;
                    font-family: $nov;
                    margin-left: -5px;

                    &:hover {
                        background-color: $color__link-visited;
                        color: white;
                        border: none;
                    }
                }
            }
        }
    }
}