/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
@import 'navbar';
@import 'frontpage';
@import 'shop';
@import 'singleproduct';
@import 'journal';
@import 'singlepost';
@import 'alladventures';
@import 'singleadventure';
@import 'about';
@import 'findus';
@import 'search';
@import '404';
@import 'footer';

// Content 

.site-content {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
}
