/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

/* nav-bar*/
.site-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    margin-left: 80px;
    margin-right: 80px;
    align-items: center;

    img {
        width: 60px;
        height: auto;
    }
}

.content-area {
    border-right: 1px solid #e1e1e1;
    padding-right: 5%;
    width: 73%;
}

.widget-area {
    padding-left: 5%;
    width: 27%;
}